.header {
  height: 3.7rem;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 50;
}

.header a {
  text-decoration: none;
}

.header a:hover {
  color: white;
}

.header__logoContainer {
  margin: 0 12px 0 0;
  border: 1px solid #131921;
}

.header__logoContainer:hover {
  border: 1px solid white;
  border-radius: 2px;
}

.header__logo {
  width: 6.3rem;
  object-fit: contain;
  margin: 0 0.7rem;
  margin-top: 0.6rem;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  margin-right: 0.8rem;
  border-radius: 4px;
  box-sizing: padding-box;
}

.header__search:focus-within {
  outline: auto 2px #cd9042;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 4px 0 0 4px;
}

.header__searchInput:focus-visible {
  outline: none;
}

.header__searchIcon {
  padding: 5px;
  height: 1.38rem!important;
  background-color: #febd69;
  border-radius: 0 4px 4px 0;
}

.header__searchIcon:hover {
  background-color: #f3a847;
}

.header__optionLineOne {
  font-size: 11px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

a.header__optionBasket {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.header__optionBasketVisual {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  color: white;
}

.header__basketCount {
  color: #febd69;
  margin: 0 10px;
  z-index: 1;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__option {
  height: 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.3rem 0.6rem;
  margin: 0 1px;
  border: 1px solid #131921;
  color: white;
}

.header__option:hover {
  border: 1px solid white;
  border-radius: 2px;
}

.header__dd {
  display: none;
  position: absolute;
  z-index: 5;
}

.header__ddUser:hover .header__dd {
  display: flex;
  flex-direction: column;
}

.header__ddPinContainer {
  height: 0;
  z-index: 6;
  display: none;
  cursor: default;
}

.header__ddPin {
  width: 0.6rem;
  height: 0.6rem;
  background: white;
  /* position: absolute; */
  transform: rotate(45deg);
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: lightgray;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
}

.header__ddUser:hover .header__ddPinContainer {
  display: block;
}

.header__ddMenu {
  display: flex;
  width: 22rem;
  margin: 0.45rem 0 0 -10rem;
  background: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 1.5rem;
}

.header__ddUser:hover .header__ddToggle {
  border: 1px solid white;
  border-radius: 2px;
}

.header__ddList {
  display: flex;
  flex-direction: column;
}

.header__ddList.left {
  border-right: 1px solid lightgray;
  padding-right: 1rem;
  margin-right: 1rem;
  flex: 1;
}

.header__ddList.left .first {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.header__ddList.right {
  flex: 1;
}

.header__ddItem {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.header__ddItem:last-of-type {
  margin-bottom: 0;
}

.header__ddMenu.signIn {
  width: initial;
  margin: 0.45rem 0 0 -3rem;
}

.header__ddUser:hover .header__ddMenu.signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__ddMenu.signIn small {
  margin-top: 8px;
  font-size: 0.75rem;
}

.header__ddItem.signInButton {
  margin-top: 0;
  padding-right: 4rem;
  padding-left: 4rem;
}

.header__ddMenu.signIn a {
  color: #05a;
}

.header__ddMenu a {
  color: #444;
}

.header__ddMenu a:hover {
  color: #ffa060;
  text-decoration: underline;
}

.header__nonSticky {
  background: #232f3e;
  color: #EEE;
}

.header__nonSticky a {
  display: inline-block;
  color: #EEE;
  text-decoration: none;
  font-size: 0.85rem;
  margin: 5px 1px;
  padding: 0.4rem 0.5rem;
  border: 1px solid #232f3e;
  border-radius: 2px;
}

.header__nonSticky a:hover {
  border: 1px solid #EEE;
}

.header__nonSticky a:first-of-type {
  margin-left: 10px;
}

.blurredAfter::after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  background: rgba(0,0,0, 0.6);
  min-height: 100vh;
  min-width: 100vw;
  z-index: 4;
}