.header {
  height: 3.7rem;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 50;
}

.header a {
  text-decoration: none;
}

.header a:hover {
  color: white;
}

.header__logoContainer {
  margin: 0 1rem 0 0.6rem;
  border: 1px solid #131921;
}

.header__logoContainer:hover {
  border: 1px solid white;
  border-radius: 2px;
}

.header__logo {
  width: 6.3rem;
  object-fit: contain;
  margin: 0 0.7rem;
  margin-top: 0.6rem;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  margin-right: 0.8rem;
  border-radius: 4px;
  box-sizing: padding-box;
}

.header__search:focus-within {
  outline: auto 2px #cd9042;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 4px 0 0 4px;
}

.header__searchInput:focus-visible {
  outline: none;
}

.header__searchIcon {
  padding: 5px;
  height: 1.38rem!important;
  background-color: #febd69;
  border-radius: 0 4px 4px 0;
}

.header__searchIcon:hover {
  background-color: #f3a847;
}

.header__optionLineOne {
  font-size: 11px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

a.header__optionBasket {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.header__optionBasketVisual {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  color: white;
}

.header__basketCount {
  color: #febd69;
  margin: 0 10px;
  z-index: 1;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__option {
  height: 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.3rem 0.6rem;
  margin: 0 1px;
  border: 1px solid #131921;
  color: white;
}

.header__option:hover {
  border: 1px solid white;
  border-radius: 2px;
}

.header__nonSticky {
  background: #232f3e;
  color: #EEE;
}

.header__nonSticky a {
  display: inline-block;
  color: #EEE;
  text-decoration: none;
  font-size: 0.85rem;
  /* font-weight: 500; */
  margin: 5px 0 5px 1px;
  padding: 0.4rem 0.6rem;
  border: 1px solid #232f3e;
  border-radius: 2px;
}

.header__nonSticky a:hover {
  border: 1px solid #EEE;
}

.header__nonSticky a:nth-of-type(1) {
  margin-left: 10px;
}