.cartItem {
  display: flex;
  padding: 1.6rem 0;
  border-bottom: 1px solid lightgray;
}

.cartItem.removeBottomBorder:last-of-type {
  border-bottom: none;
  padding-bottom: 1rem;
}

.cartItem__left {
  width: 23%;
  min-width: 12rem;
  max-height: 10rem;
  max-width: 15rem;
  object-fit: contain;
}

.cartItem__middle {
  margin: 0 2rem;
  width: 58%;
}

.cartItem__title {
  font-size: 1.2rem;
}

.cartItem__quantity {
  display: flex;
  align-items: center;
  margin-top: 0.7rem;
}

.cartItem__quantityCounter {
  display: flex;
  align-items: center;
  margin: 0 0.8rem;
}

.cartItem__buttons {
  padding: 0 8px;
  display: flex;
  height: 32px;
  align-items: center;
  cursor: pointer;
  border: 1px solid lightgray;
  line-height: 34px;
}

.cartItem__buttons:nth-of-type(1) {
  border-radius: 5px 0 0 5px;
}

.cartItem__buttons:nth-of-type(3) {
  border-radius: 0 5px 5px 0;
}

.cartItem__buttons#quantityNumber {
  padding: 0 13px;
  cursor: default;
  border-width: 1px 0;
  border-style: solid;
  border-color: lightgray;
}

.cartItem__buttons.disabled {
  cursor: default;
}

.cartItem__buttons.disabled * {
  opacity: 0.6;
}

.cartItem__deleteOuter {
  border-left: 1px solid rgb(187, 187, 187);
  margin-left: 0.5rem;
}

.cartItem__deleteButton {
  margin-top: 0;
  margin-left: 1.2rem;
  color: #007185;
  font-size: 0.8rem;
  cursor: pointer;
}

.cartItem__deleteButton:hover {
  text-decoration: underline;
}

.cartItem__giftOption {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.cartItem__giftOption small {
  font-size: 0.8rem;
}

.cartItem__right {
  flex: 1;
  text-align: right;
}

.cartItem__right strong {
  font-size: 1.2rem;
}

.cartItem__rating {
  display: flex;
}