.checkout {
  display: flex;
  padding: 20px;
  height: max-content;
}

.checkout__ad {
  width: 100%;
}

.checkout__cartBox {
  margin-top: 20px;
  padding: 1.3rem;
  padding-bottom: 1rem;
  background-color: white;
}

.checkout__left {
  margin-right: 20px;
}

.checkout__title {
  font-weight: 400;
  border-bottom: 1px solid lightgray;
}

.checkout__priceTag {
  text-align: right;
  color: #565959;
  padding-bottom: 2px;
}

.checkout__leftSubtotal {
  text-align: right;
  padding-top: 0.8rem;
  font-size: 1.2rem;
}

.checkout__leftSubtotal small {
  font-size: 0.8rem;
}