.payment {
  padding: 1rem;
}

.payment__section {
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

.payment__pageTitle {
  text-align: center;
  padding-bottom: 1rem;
  font-weight: 400;
  
}

.payment__pageTitle a {
  color: #0066c0;
  text-decoration: none;
  font-weight: 300;
}

.payment__bottom {
  display: flex;
}

.payment__section.payment__address {
  margin-right: 1rem;
  flex: 1;
}

.payment__address>div>p {
  margin-bottom: 1.7rem;
  color: gray;
  font-size: 0.8rem;
}

.payment__address .inputSection {
  margin-bottom: 0.8rem;
  align-items: center;
  color: rgb(46, 46, 46);
}

.payment__address .inputSection:last-of-type {
  margin-bottom: 0.4rem;
}

.payment__address .inputSection span {
  width: 12rem;
  text-align: right;
  margin-right: 1rem;
}

.payment__address .inputSection .inputRow {
  display: flex;
  align-items: center;
}

.payment__address .inputRow:first-of-type {
  margin-bottom: 5px;
}

.payment__address .inputSection input {
  flex: 1;
  margin-right: 2rem;
  padding: 6px;
}

.renderHelper {
  width: 12rem;
  margin-right: 1rem;
}

.renderHelper+div {
  font-size: 0.75rem;
  color: tomato;
}

.payment__section.payment__card {
  width: 25rem;
  height: fit-content;
}

.payment__card .payment__title {
  margin-bottom: 1.5rem;
}

.payment__priceContainer {
  margin-top: 1.3rem;
}

.payment__cardError {
  margin-top: 6px;
  color: #eb1c26;
  font-size: 0.8rem;
}

.payment__totalTag {
  font-weight: 300;
}