.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  padding: 20px;
  margin-top: 19px;
  background: white;
}

.subtotal__gift {
  display: flex;
  align-items: center;
}

.subtotal__gift > input {
  margin-right: 0.5rem;
}

.subtotal__buyButton {
  height: 2rem;
}