.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.login__logo {
  height: 2rem;
}

.login__outerContainer {
  width: 30%;
  margin: 1rem 0 1.8rem 0;
}

.login__innerContainer {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.login__innerContainer * {
  width: 100%;
}

.login__header {
  font-weight: 400;
  margin-bottom: 1rem;
}

.login__innerContainer form > h5 {
  margin-bottom: 4px;
}

.login__innerContainer form > input {
  margin-bottom: 20px;
  padding: 7px;
  width: 95%;
}

.login__signInButton {
  margin: -0.4rem 0 1.4rem 0;
}

.login__privacy {
  font-size: 0.9rem;
  line-height: 1.2rem;
  letter-spacing: 0.01rem;
}

.login__privacy a, .login__privacy a:visited {
  text-decoration: none;
  color: #0066c0;
}

.login__smallTextContainer {
  display: flex;
  flex-direction: column;
  font-size: 0.72rem;
  color: #767676;
  margin-top: 1.4rem;
  margin-bottom: 0.5rem;
}

.login__smallTextContainer::after {
  content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: relative;
    margin-top: -7px;
    z-index: 2;
}

.login__smallText {
  width: fit-content;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  background: white;
  z-index: 3;
}

.login__registerButton {
  width: 100%;
  margin-top: 10px;
}

.login__footer {
  display: flex;
  flex-direction: column;
  padding: 1.8rem 0 2.5rem 0;
  font-size: 0.7rem;
  width: 100%;
  background: linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
  align-items: center;
}

.login__footer .links {
  margin-bottom: 1rem;
}

.login__footer a {
  padding: 1.8rem 1rem 1rem 1rem;
  text-decoration: none;
  color: #0066c0;
}

.login__footer span {
  color: #555555;
}