.order__id {
  font-weight: 400;
  font-size: 1.1rem;
  font-weight: 300;
}

.order__date {
  font-size: 0.85rem;
  color: rgb(78, 78, 78);
}

.order__address {
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.order__address>div {
  display: flex;
  margin-top: 2px;
}

.order__address>div>span {
  width: 8rem;
  text-align: right;
  margin-right: 1rem;
  color: rgb(78, 78, 78);
  font-weight: 300;
}

.order__total {
  margin-top: 1rem;
  text-align: end;
}