.header {
  height: 3.7rem;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 50;
}

.header__logo {
  width: 6.3rem;
  object-fit: contain;
  margin: 0 1.1rem;
  margin-top: 0.6rem;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 4px;
}

.header__search:focus-within {
  outline: auto 2px #cd9042;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 4px 0 0 4px;
}

.header__searchInput:focus-visible {
  outline: none;
}

.header__searchIcon {
  padding: 5px;
  height: 1.38rem!important;
  background-color: #febd69;
  border-radius: 0 4px 4px 0;
}

.header__searchIcon:hover {
  background-color: #f3a847;
}

.header__optionLineOne {
  font-size: 11px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin: 0 10px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  color: white;
}