.page404 {
  padding: 0;
  margin: 0;
  background-image: url('./Page404.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 101vh;
}

.page404 .logo {
  height: 3rem;
  margin: 2rem 0 0 2rem;
}

.page404 .mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 49%;
  width: fit-content;
}

.page404 h2 {
  color: rgb(243, 243, 243);
  cursor: default;
  width: fit-content;
  font-size: 4rem;
  margin: 0;
}

.page404 h2:first-of-type {
  font-size: 9rem;
  letter-spacing: 5px;
  text-shadow: 8px 8px 8px tomato;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page404 h2:nth-of-type(2) {
  text-shadow: 5px 4px 4px tomato;
  font-size: 2.8rem;
}

.page404 span {
  margin-top: 1rem;
  color: white;
  font-size: 1rem;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
  text-decoration-line: underline;
  text-underline-offset: 6px;
}

.page404 a.homeButtonLink {
  margin: 3rem 0 4rem 0;
}

.page404 .homeButton {
  color: #272727;
  cursor: pointer;
  font-weight: bold;
  padding: 0.8rem 2.3rem;
  font-family: serif;
  letter-spacing: 1px;
  font-size: 1rem;
  background: linear-gradient(180deg, #f7dfa5, #f0c14b);
  border-width: 1px;
  border-style: solid;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 4px;
}

.page404 .homeButton:hover {
  background: linear-gradient(180deg,#f5d78e,#eeb933);
  border-color: #a88734 #9c7e31 #846a29;
}

.page404 .copyright {
  color: white;
  font-weight: 400;
  text-shadow: 0 0 10px rgb(221, 0, 0);
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  padding: 1rem 2rem;
}