.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.signup__logo {
  height: 2rem;
}

.signup__outerContainer {
  width: 30%;
  margin: 1rem 0 1.8rem 0;
}

.signup__innerContainer {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.signup__innerContainer * {
  width: 100%;
}

.signup__header {
  font-weight: 400;
  margin-bottom: 0;
}

.signup__innerContainer form > h5 {
  margin-top: 1rem;
  margin-bottom: 4px;
  font-size: 0.8rem;
}

.signup__innerContainer form > input {
  padding: 7px;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

.signup__innerContainer form > input:focus-visible {
  outline: none;
  border-color: #e77600;
  box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}

.signup__invalidAlert {
  color: rgb(224, 60, 60);
  margin-top: 0.3rem;
  font-size: 0.9rem;
  line-height: 1rem;
}

.signup__normalInfo, .signup__redInfo {
  display: flex;
  align-items: center;
  margin-top: 0.4rem;
}

.signup__normalInfo {
  font-size: 0.75rem;
}

.signup__redInfo {
  font-size: 0.9rem;
  color: rgb(224, 60, 60);
}

.signup__continue {
  box-sizing: border-box;
  margin-top: 1rem;
}

.signup__smallTextContainer {
  display: flex;
  flex-direction: column;
  font-size: 0.72rem;
  color: #767676;
  margin-top: 1.4rem;
  margin-bottom: 0.5rem;
}

.signup__smallTextContainer::after {
  content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: relative;
    margin-top: -7px;
    z-index: 2;
}

.signup__smallText {
  width: fit-content;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  background: white;
  z-index: 3;
}

.signup__signinButton {
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
}